<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="manifest" content="manifest.json">
   <link rel="stylesheet" href="css/w3.css">
   <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
   <script type="application/javascript" src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>
   <script type="application/javascript" src="src/app.js"></script>
</head>

<body>
   <div id="app">
      <template>
         <div class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card w3-teal" :style="{ display: showSidebar ? 'block':'none' }">
            <button class="w3-bar-item w3-button w3-hide-large" @click="showSidebar=false">x</button>
            <button class="w3-bar-item w3-button" :class="{'w3-red':tab=='tab1'}" @click="tab='tab1'">Tab 1</button>
            <button class="w3-bar-item w3-button" :class="{'w3-red':tab=='tab2'}" @click="tab='tab2'">Tab 2</button>
            <button class="w3-bar-item w3-button" :class="{'w3-red':tab=='extractor'}" @click="tab='extractor'">Extractor</button>
            <button class="w3-bar-item w3-button" :class="{'w3-red':tab=='tab3'}" @click="tab='tab3'">Tab 3</button>
         </div>
         <div class="w3-main w3-animate-opacity" style="margin-left:200px">
            <header class="w3-teal w3-container">
               <button class="w3-button w3-teal w3-xlarge w3-hide-large" @click.prevent="showSidebar=true">&#9776;</button>
               <h1 class="w3-right">ASBMobile</h1>
            </header>
            <div v-if="tab=='welcome'" class="w3-container w3-animate-opacity">
               <p>Welcome!</p>
            </div>
            <div v-if="tab=='tab1'" class="w3-container w3-animate-opacity">
               <p>Example content for tab 1</p>
            </div>
            <div v-else-if="tab=='tab2'" class="w3-container w3-animate-opacity">
               <p>Example content for tab 2</p>
            </div>
            <div v-else-if="tab=='extractor'" class="w3-container">
               <p v-if="!dataLoaded">Loading... (artificially delay by a few seconds for demo)</p>
               <extractor v-else ref="extractor" class="w3-animate-opacity" />
            </div>
            <div v-else-if="tab=='tab3'" class="w3-container">
               <p>Example content for tab 3</p>
            </div>
         </div>
      </template>
   </div>

   <script type="text/x-template" id="extractor-template">
      <div>
         <form name="Extractor">
            <fieldset>
               <select v-model="species">
                  <option v-for="name in speciesNames" v-bind:value="name">{{name}}</option>
               </select>
               <label>Level</label>
               <input type="number" v-model.number="level">
            </fieldset>
            <fieldset>
               <input type="radio" value="Wild" checked v-model="mode">
               <label style="margin-right: 12px">Wild</label>
               <input type="radio" value="Tamed" v-model="mode">
               <label style="margin-right: 12px">Tamed</label>
               <input type="radio" value="Bred" v-model="mode">
               <label style="margin-right: 12px">Bred</label>
               <span v-show="mode=='Bred'">
                  <label>Imprint:</label>
                  <input type="number" v-model.number="imprint">
                  <label>Exactly:</label>
                  <input type="checkbox" v-model="exactly">
               </span>
            </fieldset>
            <fieldset>
               <legend>Stats</legend>
               Current stat-value Wild-lvl Dom-lvl Breeding Value
               <div v-for="i in 8" class="w3-container w3-round-large w3-border-black w3-leftbar">
                  <img v-bind:src="'img/'+statImages[i-1]" style="height:25px; width:25px; object-fit: contain">
                  <input type="number" class="w3-round-large w3-border-large" v-model.number="stats[i-1]">
                  <span v-if="extractor['results']">
                     <span v-if="extractor.results[i-1].length > 0">
                        <label>{{extractor.results[i-1][0].Lw}}</label>
                        <label>{{extractor.results[i-1][0].Ld}}</label>
                        <label>={{formatFloat(debugStatValue(i-1, extractor))}}</label>
                     </span>
                     <span v-if="extractor.results[i-1].length > 1">
                        <label>{{debugShowOptions(extractor.results[i-1])}}</label>
                     </span>
                  </span>
               </div>
            </fieldset>
            Sum Should be
            <input type="button" value="Extract" id="extractButton" v-on:click="extract">
         </form>
         <br/>
         <!-- <input type="button" value="Test Cases" id="TestCases" v-on:click="testData"> -->
         <br/>
         <p>Insert dummy data:</p>
         <span v-for="data in dummyData">
            <a v-on:click.prevent="insertDummyData(data)" href="#dummyData">{{data.tag}}</a>
            <br/>
         </span>
         <br/>
      </div>
   </script>
</body>

</html>
