<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="manifest" content="manifest.json">
   <link rel="stylesheet" href="css/w3.css">
   <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
   <script type="application/javascript" src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>
   <script type="application/javascript" src="src/app.js"></script>
</head>

<body>
   <div id="app">
      <template>
         <div class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card w3-teal" :style="{ display: showSidebar ? 'block':'none' }">
            <button class="w3-bar-item w3-button w3-hide-large" @click="showSidebar=false">&times;</button>
            <button class="w3-bar-item w3-button" :class="{'w3-red':tab=='tab1'}" @click="tab='tab1'">Tab 1</button>
            <button class="w3-bar-item w3-button" :class="{'w3-red':tab=='servers'}" @click="tab='servers'">Servers</button>
            <button class="w3-bar-item w3-button" :class="{'w3-red':tab=='extractor'}" @click="tab='extractor'">Extractor</button>
            <button class="w3-bar-item w3-button" :class="{'w3-red':tab=='tester'}" v-if="devMode" @click="tab='tester'">Tester (dev-only)</button>
         </div>
         <div class="w3-main w3-animate-opacity" style="margin-left:200px">
            <header class="w3-teal w3-container">
               <button class="w3-button w3-teal w3-xlarge w3-hide-large" @click.prevent="showSidebar=true">&#9776;</button>
               <h1 class="w3-right">ASBMobile</h1>
            </header>
            <div v-if="tab=='welcome'" class="w3-container w3-animate-opacity">
               <p>Welcome!</p>
            </div>
            <div v-else-if="tab=='tab1'" class="w3-container w3-animate-opacity">
               <p>Example content for tab 1</p>
            </div>
            <div v-else-if="tab=='servers'" class="w3-container w3-animate-opacity">
               <p v-if="!dataLoaded">Loading...</p>
               <servers v-else ref="servers" class="w3-animate-opacity" inline-template>
                  <div>
                     <!-- <select>
                        <option v-for="server in servers" v-bind:key="sever.id">{{server.name}}</option>
                     </select> -->
                     <input type="checkbox" id="cbSinglePlayer" v-model="server.singlePlayer" class="w3-check">
                     <label for="cbSinglePlayer">Single Player</label>
                     <table class="w3-table w3-striped w3-border w3-centered w3-responsive">
                        <thead>
                           <tr class="w3-dark-gray">
                              <th>TAM</th>
                              <th>TMM</th>
                              <th>IDM</th>
                              <th>IWM</th>
                           </tr>
                        </thead>
                        <tr v-for="stat in statIndices">
                           <td v-for="param in paramIndices">
                              <input type="number" :value="valueFor(stat,param)" class="w3-center" style="width:92px"
                                 @input="server.multipliers[stat][param] = parseFloat($event.target.value)"
                                 :disabled="!server.multipliers[stat][param]">
                              <input type="checkbox" class="w3-check" title="Use official"
                                 :checked="!server.multipliers[stat][param]"
                                 @change="toggleStat(param,stat)">
                           </td>
                        </tr>
                     </table>
                  </div>
               </servers>
            </div>
            <div v-else-if="tab=='extractor'" class="w3-container">
               <p v-if="!dataLoaded">Loading...</p>
               <extractor v-else ref="extractor" class="w3-animate-opacity"></extractor>
            </div>
            <div v-else-if="tab=='tester'" class="w3-container">
               <p v-if="!dataLoaded">Loading...</p>
               <tester v-else ref="tester" class="w3-animate-opacity"></tester>
            </div>
         </div>
      </template>
   </div>

   <script type="text/x-template" id="extractor-template">
      <div>
         <form name="Extractor">
            <fieldset>
               <select v-model="species">
                  <option v-for="name in speciesNames" v-bind:value="name">{{name}}</option>
               </select>
               <label>Level</label>
               <input type="number" v-model.number="level">
            </fieldset>
            <fieldset>
               <input type="radio" value="Wild" checked v-model="mode">
               <label style="margin-right: 12px">Wild</label>
               <input type="radio" value="Tamed" v-model="mode">
               <label style="margin-right: 12px">Tamed</label>
               <input type="radio" value="Bred" v-model="mode">
               <label style="margin-right: 12px">Bred</label>
               <span v-show="mode=='Wild'">
                  <label>Auto-Extract Levels:</label>
                  <input type="checkbox" v-model.number="AutoExtract">
               </span>
               <span v-show="mode=='Tamed'">
                  <label>Taming Effectiveness:</label>
                  <input type="number" v-model.number="TE">
               </span>
               <span v-show="mode=='Bred'">
                  <label>Imprint:</label>
                  <input type="number" v-model.number="imprint">
                  <label>Exactly:</label>
                  <input type="checkbox" v-model="exactly">
               </span>
            </fieldset>
            <fieldset>
               <legend>Stats</legend>
               Current stat-value Wild-lvl Dom-lvl Breeding Value
               <div v-for="i in 8" class="w3-container w3-round-large w3-border-black w3-leftbar">
                  <img v-bind:src="'img/'+statImages[i-1]" style="height:25px; width:25px; object-fit: contain">
                  <input type="number" class="w3-round-large w3-border-large" v-model.number="stats[i-1]">
                  <span v-if="extractor['stats']">
                     <span v-if="extractor.stats[i-1].length > 0">
                        <label>{{extractor.stats[i-1][0].Lw}}</label>
                        <label>{{extractor.stats[i-1][0].Ld}}</label>
                        <label>={{formatFloat(debugStatValue(i-1, extractor))}}</label>
                     </span>
                     <span v-if="extractor.stats[i-1].length > 1">
                        <label>{{debugShowOptions(extractor.stats[i-1])}}</label>
                     </span>
                  </span>
               </div>
            </fieldset>
            Sum Should be
            <input type="button" value="Extract" id="extractButton" v-on:click="extract">
         </form>
         <br/>
         <!-- <input type="button" value="Test Cases" id="TestCases" v-on:click="testData"> -->
         <br/>
         <p>Insert dummy data:</p>
         <span v-for="data in testData">
            <a v-on:click.prevent="insertTestData(data)" href="#testData">{{data.tag}}</a>
            <br/>
         </span>
         <br/>
      </div>
   </script>

   <script type="text/x-template" id="tester-template">
      <div class="w3-container">
         <div class="w3-container">
            <a href="#runAllTests" @click.prevent="runAllTests" class="w3-right">Run All</a>
         </div>
         <ul class="w3-ul">
            <li v-for="(data,index) in testData" class="w3-hoverable">
               <span class="w3-button w3-right w3-xlarge" @click="runTest(index)">&#x25B8;</span>
               <div class="" @click="openResults(index)">
                  <div>
                     <span v-if="isPass(index)" class="w3-tag w3-green">pass</span>
                     <span v-if="isFail(index)" class="w3-tag w3-red">fail</span>
                     <span class="w3-large">{{data.tag}}</span>
                  </div>
                  <span>{{data.stats.join(', ')}}</span>
               </div>
               <div v-if="index in testResults && openTestIndex==index">
                     <div>
                        <span>Got:</span><br/>
                        <code v-if="testResults[index]">{{JSON.stringify(testResults[index]['results'])}}</code>
                        <code v-else>-blank-</code>
                     </div>
                     <div>
                        <span>Expected:</span><br/>
                        <code>{{JSON.stringify(testData[index]['results'])}}</code>
                     </div>
               </div>
            </li>
         </ul>
      </div>
   </script>
</body>

</html>
