<b-container fluid>
   <b-form-group label="Species:">
      <b-form-select v-model="creature.species" :options="speciesNames"></b-form-select>
   </b-form-group>
   <b-form-group label="Level:">
      <b-form-input type="number" v-model.number="creature.level"></b-form-input>
   </b-form-group>
   <b-form inline>
      <b-form-radio-group v-model="mode">
         <b-form-radio value="Wild">Wild</b-form-radio>
         <b-form-radio value="Tamed" checked>Tamed</b-form-radio>
         <b-form-radio value="Bred">Bred</b-form-radio>
      </b-form-radio-group>
   </b-form>
   <b-form-group v-show="mode=='Wild'" label="Auto-Extract Levels:">
      <b-form-checkbox v-model="AutoExtract"></b-form-checkbox>
   </b-form-group>
   <b-form-group v-show="mode=='Tamed'" label="Taming Effectiveness:">
      <b-form-input type="number" v-model.number="creature.TE"></b-form-input>
   </b-form-group>
   <b-form-group v-show="mode=='Bred'" label="Imprint:">
      <b-form-input type="number" v-model.number="imprint"></b-form-input>
      <b-form-checkbox v-model="creature.exactly">Exactly</b-form-checkbox>
   </b-form-group>

   <b-form-group label="Stats">
      <b-row v-for="i in range(8)" class="mb-1">
         <div class="col-2">
            <b-img :src="statImages[i]" fluid-grow></b-img>
         </div>
         <b-form-input type="number" v-model.number="values[i]" :placeholder="statNames[i]" class="col-3"></b-form-input>
         <div v-if="creature.stats.length" class="col-2">
            <span v-if="creature.stats[i] && creature.stats[i].length > 0">
               <span>{{creature.stats[i][0].Lw}}</span>
               <span>{{creature.stats[i][0].Ld}}</span>
               <span>={{formatFloat(debugStatValue(i))}}</span>
            </span>
         </div>
         <div v-if="creature.stats[i]" class="col-5">
            <label>{{debugShowOptions(creature.stats[i])}}</label>
         </div>
         </span>
      </b-row>
      <b-button @click="extract">Extract</b-button>
   </b-form-group>

   <b-form-group v-if="devMode" label="Test Data:">
      <b-button v-for="data in testData" variant="link" @click.prevent="insertTestData(data)">{{data.tag}}</b-button>
   </b-form-group>
</b-container>
