<div class="w3-container">
   <form name="Extractor">
      <fieldset>
         <select v-model="creature.species">
            <option v-for="name in speciesNames" v-bind:value="name">{{name}}</option>
         </select>
         <label>Level</label>
         <input type="number" v-model.number="creature.level">
      </fieldset>
      <fieldset>
         <input type="radio" value="Wild" checked v-model="mode">
         <label style="margin-right: 12px">Wild</label>
         <input type="radio" value="Tamed" v-model="mode">
         <label style="margin-right: 12px">Tamed</label>
         <input type="radio" value="Bred" v-model="mode">
         <label style="margin-right: 12px">Bred</label>
         <span v-show="mode=='Wild'">
            <label>Auto-Extract Levels:</label>
            <input type="checkbox" v-model="AutoExtract">
         </span>
         <span v-show="mode=='Tamed'">
            <label>Taming Effectiveness:</label>
            <input type="number" v-model.number="creature.TE">
         </span>
         <span v-show="mode=='Bred'">
            <label>Imprint:</label>
            <input type="number" v-model.number="imprint">
            <label>Exactly:</label>
            <input type="checkbox" v-model="creature.exactly">
         </span>
      </fieldset>
      <fieldset>
         <legend>Stats</legend>
         Current stat-value Wild-lvl Dom-lvl Breeding Value
         <div v-for="i in 8" class="w3-container w3-round-large w3-border-black w3-leftbar">
            <img v-bind:src="statImages[i-1]" style="height:25px; width:25px; object-fit: contain">
            <input type="number" class="w3-round-large w3-border-large" v-model.number="values[i-1]">
            <span v-if="creature.stats.length">
               <span v-if="creature.stats[i-1] && creature.stats[i-1].length > 0">
                  <label>{{creature.stats[i-1][0].Lw}}</label>
                  <label>{{creature.stats[i-1][0].Ld}}</label>
                  <label>={{formatFloat(debugStatValue(i-1))}}</label>
               </span>
               <span v-if="creature.stats[i-1]">
                  <label>{{debugShowOptions(creature.stats[i-1])}}</label>
               </span>
            </span>
         </div>
      </fieldset>
      Sum Should be
      <input type="button" value="Extract" id="extractButton" v-on:click="extract">
   </form>
   <br/>
   <p>Insert test data:</p>
   <span v-for="data in testData">
      <a v-on:click.prevent="insertTestData(data)" href="#testData">{{data.tag}}</a>
      <br/>
   </span>
   <br/>
</div>
