<div>
   <b-container class="clearfix">
      <b-button-group class="float-right m-2">
         <b-button @click="runAllTests" variant="dark">Run All</b-button>
      </b-button-group>
   </b-container>

   <b-container>
      <b-list-group>
         <b-list-group-item v-for="(data,index) in testData" class="p-2">
            <div class="float-right m-0 p-0">
               <!-- pass/fail -->
               <span v-if="isPass(index)" class="badge badge-success badge-pill w-100 m-0">PASS</span>
               <span v-if="isFail(index)" class="badge badge-danger badge-pill w-100 m-0">FAIL</span>

               <br/>

               <!-- timing -->
               <span v-if="results[index] && results[index]['duration'] != undefined" class="badge badge-info badge-pill">
                  {{formatNumber(results[index]['duration'], 1)}}ms
               </span>
            </div>

            <!-- header / info -->
            <div @click.prevent="openResults(index)">
               <h6 class="mb-0">
                  <b-img @click.prevent="runTest(index)" :src="require('assets/play.svg')" class="" style="height:20px"></b-img>
                  {{data.tag}}</h6>
               <small>
                  Level {{data.level}} {{data.species}} from
                  <em>{{data.serverName}}</em>
               </small>
            </div>

            <!-- expandable results -->
            <div v-if="index in results" v-show="openTestIndex==index">
               <div>
                  <span>Got:</span>
                  <pre v-if="results[index]">{{formattedStats(results[index]['results'])}}</pre>
                  <pre v-else>-blank-</pre>
               </div>
               <div>
                  <span>Expected:</span>
                  <pre>{{formattedStats(testData[index]['results'])}}</pre>
               </div>
            </div>
         </b-list-group-item>
      </b-list-group>
   </b-container>
</div>
