<div class="w3-container">
   <form class="w3-form">
      <select v-model="name">
         <option v-for="(server, name) in servers" :key="name">{{name}}</option>
      </select>
      <input type="checkbox" id="cbSinglePlayer" v-model="server.singlePlayer" class="w3-check">
      <label for="cbSinglePlayer">Single Player</label>
      <table class="w3-table w3-striped w3-border w3-responsive w3-centered">
         <thead>
            <tr class="w3-dark-gray">
               <th></th>
               <th>TAM</th>
               <th>TMM</th>
               <th>IDM</th>
               <th>IWM</th>
            </tr>
         </thead>
         <tr v-for="stat in statIndices">
            <td>
               <img :src="statImages[stat]" style="height:36px">
            </td>
            <td v-for="param in paramIndices">
               <input type="number" class="w3-center w3-input" :placeholder="official[stat][param]" @change="setValue(stat,param,$event.target.value)"
                  :value="server[stat][param]">
            </td>
         </tr>
      </table>
      <label class="w3-label" for="numIBM">IBM</label>
      <input type="number" id="numIBM" class="w3-input" v-model="server.IBM">
   </form>
</div>
